.containerCarrousel {
  position: relative;
  width: 100vw;
  overflow: hidden;
  display: flex;
  align-items: center;
  background-color: transparent;
  padding: 2rem 0rem;
}

.carouselTrack {
  display: flex;
  align-items: center;
  gap: 3rem;
  overflow-x: scroll;
  scrollbar-width: none; 
  scroll-behavior: smooth;
  background-color: transparent;
}

.carouselTrack::-webkit-scrollbar {
  display: none; 
}

.scrollArea {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 10%;
  z-index: 10;
  cursor: pointer;
}

.scrollArea.left {
  left: 0;
}

.scrollArea.right {
  right: 0;
}
