.containerCarrousel {
  position: relative;
  width: 100%;
  overflow: hidden; 
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  padding: 2rem 0rem;
}

.carouselTrack {
  display: flex;
  align-items: center;
  justify-content: center; 
  gap: 3rem; 
  overflow-x: auto;
  scrollbar-width: none; 
  scroll-behavior: smooth;
  background-color: transparent;
  scroll-snap-type: x mandatory;
  width: 100%;
}

.carouselTrack::-webkit-scrollbar {
  display: none; 
}

.scrollButton {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: var(--colorPrimary);
  color: var(--colorSecondary);
  border: none;
  padding: 1rem;
  cursor: pointer;
  z-index: 10;
}

.left, .right {
  margin: 1rem;
}

.left img {
  transform: rotate(90deg);
}

.right img {
  transform: rotate(-90deg);
}

@media (max-width: 1200px) {
  .carouselTrack {
    gap: 0; 
    justify-content: flex-start;
  }

  .carouselTrack > * {
    flex: 0 0 100%; 
    max-width: 100%;
  }
}

@media (max-width: 768px) {
  .containerCarrousel {
    padding: 1rem;
  }

  .scrollButton {
    padding: 0.5rem;
  }
}
