.containerDetailTable {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 0 1rem;
    box-sizing: border-box;
}

.table {
    width: 50%;
    max-width: 100%;
    border-collapse: collapse;
}

.tableStyle {
    padding: 1rem 1.5rem;
    vertical-align: top;
    border-bottom: 1px solid var(--colorTerceary);
    text-align: justify;
    box-sizing: border-box;
}

.tdStyle {
    text-align: justify;
}

@media (max-width: 1020px) {
    .table {
        width: 100%;
        display: block;
    }

    .table tbody,
    .table tr,
    .tableStyle {
        display: block;
        width: 100%;
    }

    .tableStyle{
        border-bottom: none;
    }

    .thStyle {
        font-weight: bold;
   
    }

    .tdStyle {
        border-bottom: 1px solid var(--colorTerceary);
        padding-top: 0;
    }
}
