.containerForm {
    display: flex;
    justify-content: center;
    align-items: center;
}

.form {
    display: flex;
    flex-direction: column;
    text-align: start;
    width: 70%;
}

.containerNameAndEmail {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
}

.inputGroup {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.form button {
    align-self: flex-end;
}

.inputStyle {
    background-color: var(--colorSecondary);
    border: 1px solid #d1d5db;
    border-radius: 0.5rem;
    outline: none;
    padding: 0.625rem 1rem;
    margin-bottom: 1rem;
}

.inputStyle:focus {
    border-color: var(--colorPrimary);
    box-shadow: 0 0 0 2px var(--colorQuintenary);
}

.errorMessage {
    color: var(--errorColor);
    margin-bottom: 1rem;
}

.labelStyle {
    margin-bottom: 0.5rem;
    font-weight: 600;
}

.form textarea {
    font-family: 'Roboto Flex', sans-serif;
}

@media (max-width: 390px) {
    .form button {
        align-self: center;
    }
}